@font-face {
	font-family: IRANSansFaNum;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/fontiran/fanum/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/fontiran/fanum/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/fontiran/fanum/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/fontiran/fanum/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/fontiran/fanum/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: IRANSansFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/fontiran/fanum/IRANSansWeb(FaNum).eot');
	src: url('../fonts/fontiran/fanum/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/fontiran/fanum/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/fontiran/fanum/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/fontiran/fanum/IRANSansWeb(FaNum).ttf') format('truetype');
	font-display: swap;
}
